.layout-main {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.layout-main > .pagination {
  align-self: center;
}

.layout-main__loader {
  background: var(--theme-background-color);
  opacity: 0.5;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .layout-main {
    max-width: 800px;
  }

  .layout-main > .pagination {
    align-self: flex-start;
  }
}

@media (min-width: 1024px) {
  .layout-main {
    max-width: 1200px;
  }
}